<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" maxBufferSize="524288" maxBufferPoolSize="524288"
                 maxReceivedMessageSize="524288">
          <security>
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
          <readerQuotas
            maxArrayLength="32768"
            maxBytesPerRead="32768"
            maxDepth="128"
            maxNameTableCharCount="32768"
            maxStringContentLength="32768" />
        </binding>
        
      </netTcpBinding>
      
    </bindings>
    <services>
      <service name="WcfService1.Service1">
        <endpoint address="net.tcp://localhost" binding="netTcpBinding"
            bindingConfiguration="NewBinding0" contract="WcfService1.IService1" />
        
      </service>
    </services>
  </system.serviceModel>
</configuration>
