<?xml version="1.0"?>
<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NewBinding0">
                    <security>
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <services>
            <service name="WcfService1.Service1">
                <endpoint address="net.tcp://192.168.1.101" binding="netTcpBinding"
                    bindingConfiguration="NewBinding0" contract="WcfService1.IService1" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
